*

!/data/
!/data/**/
!/data/**/*

!/examples/
!/examples/**/
!/examples/**/*

!/nix/
!/nix/**/
!/nix/**/*.nix

!/resources/
!/resources/**/
!/resources/**/*

!/src/
!/src/**/
!/src/**/*

!/thirdparty/
!/thirdparty/**/
!/thirdparty/**/*

!/tools/
!/tools/**/
!/tools/**/*

!/.gitignore
!/cosmographia.pro
!/flake.lock
!/flake.nix

!/README.md
